{% extends 'base.html.twig' %}

{% block title %}New Scene{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/generative.css') }}">
{% endblock %}

{% block body %}

<h1>RANDOM LINE WALKERS</h1>
<div class="mainContainer">
    <div class="descriptionBox"> Description </div>
    <div id="sketch"></div>
    <div class="parametersBox">
        <p>This is a paragraph element.</p>
        <input type="range" id="colorSlider" min="1" max="360" value="{{ scene.color }}"step="10">
        <input type="range" id="lineSlider" min="1" max="200" value="{{ scene.num_line }}" step="1">
        <input type="range" id="weightSlider" min="0.2" max="10" value="{{ scene.weight }}"step="0.1">
        <input type="range" id="saturationSlider" min="0" max="100" value="{{ scene.saturation}}" step="5">

        <input type="range" id="opacitySlider" min="0.05" max="1" value="{{ scene.opacity }}"step="0.05">
        <input type="range" id="velocitySlider" min="0" max="15" value="{{ scene.velocity }}" step="0.1">
        <input type="range" id="noiseOctaveSlider" min="0" max="10" value="{{ scene.noiseOctave }}"step="1">
        <input type="range" id="noiseFalloffSlider" min="0" max="1" value="{{ scene.noiseFalloff}}" step="0.05">

        <button id="sendDataButton" class="customButton">Save</button>
    </div>
</div>

{# <input type="hidden" id="dataScene" value="{{ scene|json_encode|raw }}">  #}
{{ dump(scene) }}
{{ dump("<%= defaultValueColor %>") }}
<div id="dataScene" data-scene="{{ scene|json_encode }}"></div>
{% if app.user %}
    <script>
        let userId = {{ app.user.id }};
    </script>
{% endif %}

<script defer src="{{ asset('js/sketch.js') }}" ></script>

{% endblock %}
