{% extends 'base.html.twig' %}

{% block title %}Create{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/create.css') }}">
{% endblock %}

{% block body %}

  <h1>Choose a category</h1>
  <div class="createContainer">
      <a href="{{ path('generativeHome')}}"><div class="optionContainer buttonGradient">Generative Art</div></a>
      <a href="{{ path('dataArtHome')}}"><div class="optionContainer buttonGradient">Data Art Visualization</div></a>
      <a href="{{ path('collectiveDrawing')}}"><div class="optionContainer buttonGradient">Collectif Drawing</div></a>
  </div>

{% endblock %}
