{% extends 'base.html.twig' %}

{% block title %}Save Artwork{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/editArtwork.css') }}">
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="headerArtwork">Save my Artwork</h1>
    <div class="subContainer">
      <img src="{{ vich_uploader_asset(scene, 'imageFile')}}" alt="artwork picture" class="artworkImg">
      <div class="formArtwork spinningLight">
        {{ form_start(form) }}

          <div class="form-title">
            {{ form_widget(form.title, { "attr": {"class" : "form-control" } }) }}
            <div class="cut"></div>
            <label for="title" class="placeholder">Title</label>
          </div>
          <div class="form-group">
            {{ form_widget(form.comment, { "attr": {"class" : "form-control" } }) }}
            <div class="cut"></div>
            <label for="comment" class="placeholder">Comment</label>
          </div>
          <div class="buttonBox">        
            {{ form_label(form.submit) }}
            {{ form_widget(form.submit, { "attr": {"class" : "customButton" } }) }}

            {% set entityName = scene|class_name|split('\\')|last %} 
            <a href="{{ path('deleteArtwork', { 'id': scene.id, 'entity': entityName,'redirect': true }) }}" class="customButton">Back</a>
          </div> 

        {{ form_end(form) }}
      </div>
    </div>
  </div>
    

{% endblock %}
