<footer>
    <div class="topFooter">
        <ul>
            <li><a href={{ path("gallery") }}>Gallery</a></li>
            <li><a href={{ path("create") }}>Create</a></li>
        </ul>
            <img class="NexusLab" src={{ asset("/images/design/logo/NexusLab-full-purple.png")}} alt="Logo NexusLab">
        <ul>
            <li><a href={{ path("home") }}>About</a></li>
            <li><a href={{ path("home") }}>Contact</a></li>
        </ul>
    </div>
    {# <div class="centerFooter">
        <img src="{{ asset('images/icons/facebook.png') }}" alt="facebook_logo">
        <img src="{{ asset('images/icons/instagram.png') }}" alt="instagram_logo">
        <img src="{{ asset('images/icons/twitter.png') }}" alt="twitter_logo">
        <img src="{{ asset('images/icons/youtube.png') }}" alt="youtube_logo">

    </div> #}
    <div class="bottomFooter">
        <a href={{ path("privacyPolicy") }}>© 2024 Privacy — Terms</a>
    </div>
</footer>