{% extends 'base.html.twig' %}

{% block title %}Data Visualization Art{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/create.css') }}">
{% endblock %}

{% block body %}
  <h1>Data Visualization Art</h1>
  <h2>Choose a scene</h2>
  <div class="scenesContainer">
      <a href="{{ path('sceneD1')}}"><div class="optionContainer buttonGradient">Scene 1</div></a>
      <a><div class="optionContainer buttonGradient">Incoming</div></a>
      <a ><div class="optionContainer buttonGradient">Incoming</div></a>
  </div>
 <div class="bottomContainer">
    {% if (is_granted('ROLE_ARTIST')) %}
      <div {{ react_component('MyButtonTwig', {"props": {
                    "myStyle":"createButton",
                    "to":"/artist/add-new-scene",
                    "children" : "Add scene"
            }}) }}>
      </div>
      {% else %}
      <div {{ react_component('MyButtonTwig', {"props": {
                  "myStyle":"artistRoleButton",
                  "to": app.user ? "/profile/roleRequest" : "/login",
                  "children" : "Ask for Artist Role"
          }}) }}>
    </div>
    {% endif %}
  </div>

   
{% endblock %}
