{% extends 'base.html.twig' %}

{% block title %}gallery{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/gallery.css') }}">
{% endblock %}

{% block body %}

<div class="mainContainer">
    <div class="galleryHeader">
        <div class="sideBarBoxLeft">
            <div class="colorBarLeft"></div>
            <img class="sideBarLeft" src={{asset("/images/design/sideBarLeft.png")}} alt="sideBarLeft">
        </div>
        <h1>Welcome to the member's artwork gallery</h1>
        <div class="sideBarBoxRight">
            <div class="colorBarRight"></div>
            <img class="sideBarRight" src={{asset("/images/design/sideBarRight.png")}} alt="sideBarRight">
        </div>
    </div>

    {# Sorting filters form : Form submission managed in js when user change the choiceType value #}

    <div class="sortingForm">
        <div class="formContainer">
           <img class="sortingSquareImg" src={{asset("/images/design/square2.png")}} alt="sorting-square">
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.sortSelect, null, { "label_attr": {"class" : "formLabel" } })}}
                    {{ form_widget(form.sortSelect, { "attr": {"class" : "formOptions" } }) }} 
                </div>
            {{ form_end(form) }} 
        </div>
    </div>
  

    <div class="cardsContainer" id="gallery">
        {# <div class="cardsWrapper"> #}
            {% for scene in scenes %}
        
            {% set entityName = scene|class_name|split('\\')|last %}  {# Extract entity name from scene object #}
        
        {# CARD #}

                <div class="card">
                    <div class="cardHeader">
                        <a href="{{ vich_uploader_asset(scene, 'imageFile') }}" class="imgContainer" data-lightbox="gallery" data-title="{{ scene.title }}">
                            <img src="{{ vich_uploader_asset(scene, 'imageFile') }}" alt="{{ scene.user.pseudo }}" class="artworkImg">
                        </a>
                        <p class="cardTitle">{{ scene.title }}</p>
                        <div class="commentBox">
                        {% if scene.comment %}
                            {{ scene.comment }}
                        {% else %}
                            <img src="{{ asset('/images/icons/no-comment-white.png') }}" alt="no-comment" class="noCommentImg">
                        {% endif %}
                        </div>
                    </div>
                    <div class="cardBottom">
                        <div class="cardAttribute">
                            <img src="{{ vich_uploader_asset(scene.user, 'imageFile') }}" alt="avatar" class="smallAvatar"/>
                            <div class="userInfo">
                                <p>Creation of&nbsp; <span><a href="#">{{ scene.user.pseudo }}</a></span></p>
                                <p>{{scene.updatedAt|date('F j, Y, g:i a')}}</p>
                            </div>
                        </div>
                        <div class="cardSpec">
                            <div class="sceneType">
                                {% if entityName == "Scene1" %}
                                    <a href="{{ path('generativeHome')}}"><span class="generative">Generative Art</span></a>
                                {% elseif entityName == "SceneD1" %}
                                    <a href="{{ path('dataArtHome')}}"><span class="data">Data Art</span></a>
                                {% endif %}
                            </div>
                            <div {{ react_component('Like', {"props": {
                                "user" : app.user,
                                "userId": scene.user.id,
                                "sceneId": scene.id,
                                "likes": scene.likes|length,
                                "entity": entityName,
                                "isLikedByUser": app.user in scene.likes ? true : false 
                                }}) }}>
                            </div>
                        </div>
                        <div class="buttonBox">
                        {# Scene G1 #}
                            {% if entityName == "Scene1" %}
                            <a href="{{ path('newSceneG1', {'id': scene.id})}}">
                                <div class="slideButton">
                                    <div class="slideButtonIcon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle></svg>
                                    </div>
                                    <div class="slideButtonLabel">
                                        Open scene with last parameters
                                    </div>
                                </div>
                            </a>
                            {# Scene D1 #}
                            {% elseif entityName == "SceneD1" %}
                            <a href="{{ path('newSceneD1', {'id': scene.id})}}">
                                <div class="slideButton">
                                    <div class="slideButtonIcon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle></svg>
                                    </div>
                                    <div class="slideButtonLabel">
                                        Open scene with last parameters
                                    </div>
                                </div>
                            </a>
                            {# Scene G2 #}
                            {% elseif entityName == "Scene2" %}
                            <a href="{{ path('newSceneG2', {'id': scene.id})}}">
                                <div class="slideButton">
                                    <div class="slideButtonIcon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle></svg>
                                    </div>
                                    <div class="slideButtonLabel">
                                        Open scene with last parameters
                                    </div>
                                </div>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {# </div> #}
    </div>
    
    {# pagination #}

    <div class="pagination navigation">
        {{knp_pagination_render(scenes)}}
    </div>
</div>

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/gallery.js') }}"></script>

{% endblock %}

{% endblock %}
