{% extends 'base.html.twig' %}

{% block title %}gallery{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/gallery.css') }}">
{% endblock %}

{% block body %}

<div class="mainContainer">
    <h1>Welcome to the member's artwork gallery</h1>
    {{ form_start(form) }}
          
          <div class="form-group">
            {{ form_label(form.sortSelect)}}
            {{ form_widget(form.sortSelect, { "attr": {"class" : "form-control" } }) }}
        </div>
          <div class="form-group">
            {{ form_label(form.submit)}}
            {{ form_widget(form.submit, { "attr": {"class" : "form-control" } }) }}
        </div>
    {{ form_end(form) }}
    <div class="cardsContainer">
    {% for scene in scenes %}
        {% set entityName = scene|class_name|split('\\')|last %} 
       
        <div class="card">
             <div {{ react_component('Like', {"props": {
                "user" : app.user,
                "userId": scene.user.id,
                "sceneId": scene.id,
                "likes": scene.likes|length,
                "entity": entityName,
                "isLikedByUser": app.user in scene.likes ? true : false 
                }}) }}>
            </div>
            <p>{{scene.updatedAt|date('F j, Y, g:i a')}}</p>
            <p>{{ scene.title }}</p>
            <img style="max-width: 400px" src="{{ vich_uploader_asset(scene, 'imageFile') }}" alt="{{ scene.user.pseudo }}">
            <div>{{ scene.comment }}</div>
            <p>By {{ scene.user.pseudo }}</p>
            <button class="customButton dataButton"><a href="{{ path('newScene', {'id': scene.id})}}"> Open scene with last parameters</a> </button>
        </div>

        {# <div class="card">
            <div {{ react_component('Like', {"props": {
                "user" : app.user,
                "userId": scene.user.id,
                "sceneId": scene.id,
                "likes": scene.likes|length,
                "entity": entityName,
                "isLikedByUser": app.user in scene.likes ? true : false 
                }}) }}>
            </div>
            <p>{{ scene.title }}</p>
            <img style="max-width: 400px" src="{{ vich_uploader_asset(scene, 'imageFile') }}" alt="{{ scene.user.pseudo }}">
            <div>{{ scene.comment }}</div>
            <p>By {{ scene.user.pseudo }}</p>
            <button class="customButton dataButton"><a href="{{ path('newSceneD1', {'id': scene.id})}}">Open scene with last parameters</a> </button>
        </div> #}

     {% endfor %}
         {# 
         {% for scene in scenes %}
            <div class="card">
             <div {{ react_component('Like', {"props": {
                "user" : app.user,
                "userId": scene.user.id,
                "sceneId": scene.id,
                "likes": scene.likes|length,
                "entity": "Scene1",
                "isLikedByUser": app.user in scene.likes ? true : false 
                }}) }}>
            </div>
                <p>{{ scene.title }}</p>
                <img style="max-width: 400px" src="{{ vich_uploader_asset(scene, 'imageFile') }}" alt="{{ scene.user.pseudo }}">
                <div>{{ scene.comment }}</div>
                <p>By {{ scene.user.pseudo }}</p>
                <button class="customButton dataButton"><a href="{{ path('newScene', {'id': scene.id})}}"> Open scene with last parameters</a> </button>
            </div>
        {% endfor %}

         {% for scene in scenes2 %}
            <div class="card">
               <div {{ react_component('Like', {"props": {
                    "user" : app.user,
                    "userId": scene.user.id,
                    "sceneId": scene.id,
                    "likes": scene.likes|length,
                    "entity": "SceneD1",
                    "isLikedByUser": app.user in scene.likes ? true : false 
                    }}) }}>
                </div>
                <p>{{ scene.title }}</p>
                <img style="max-width: 400px" src="{{ vich_uploader_asset(scene, 'imageFile') }}" alt="{{ scene.user.pseudo }}">
                <div>{{ scene.comment }}</div>
                <p>By {{ scene.user.pseudo }}</p>
                <button class="customButton dataButton"><a href="{{ path('newSceneD1', {'id': scene.id})}}">Open scene with last parameters</a> </button>
            </div>
        {% endfor %} #}
    </div>
   


</div>

{% endblock %}
