{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

  <div class="blackBackground"></div>
  <div id="sketch1"></div>
  <div class="homeContainer">
    <div class="firstBox ">
      <div class="subBox">
        <h1>Collaborative platform for generative art and creative coding</h1>
        <p>Welcome to NexusLab! <br><br> If you're interested in generative art, creative coding, or if you just want to have fun creating unique and original artworks, you're in the right place !</p>
        <p>This platform aims to bring together a community around creative coding, focused on sharing, creativity,  and interactivity.</p>
        <p>Come explore the little-known world of incredible visuals that can be produced by algorithms, lines of code, or simple data packets.</p>
        <div {{ react_component('MyButtonTwig', {"props": {
                  "myStyle":"",
                  "to":"/gallery",
                  "children" : "Let's explore.."
          }}) }}>
        </div>
      </div>
      <div class="slideshowContainer"> 
        <div class="slideshowBorder"></div>
        <div id="slideshow">
          <div class="slide-wrapper">
            <div class="slide"><img class="NexusLabImg" src={{ asset("/images/design/logo/NexusLab-full-purple.png")}} alt="Title NexusLab"></div>
            <div class="slide"><p class="pA1">Experiments new ways of creating art..</p><p class="pA2">through coding and algorithms</p></div>
            <div class="slide"><p class="pB1">Create your own artworks.. </p><p class="pB2">share them with the community</p></div>
          </div>
        </div>
      </div>
      <div class="sliderWrapper">
        <input type="range" min="1" max="40" value="5" step="1" class="slider" id="lineSlider" >
      </div>
    </div>
   
    
    <div class="secondBox">
      <div class="secondBoxCenter">
        <h1 class="element">Create your own artwork</h1>
        <p class="element">Have fun manipulating the image through the work of artist members ! <br><br> Play with the settings of each scene to create visuals that are often surprising and unexpected! When you're happy with the result, save your artwork to share it in the gallery and let the community enjoy it!</p>
        <p class="element">Choose between generative art, where the algorithm is the sole master of creation, and data visualization art, where the code uses data to transform information into visual art.</p>
        <div class="element" {{ react_component('MyButtonTwig', {"props": {
                    "myStyle":"homeButton",
                    "to":"/create",
                    "children" : "Start create"
            }}) }}>
        </div>
      </div>
    </div>
    <div class="bottomBox">
      <div class="codeImg spinningLight element"></div>
      <div class="bottomSubBox">
        <h1 class="element">Share your code</h1>
        <p class="element">If you practice creative coding and want to share your work with the community, it's possible! <br><br> If you want to make one of your works available on NexusLab, just request the artist role and you'll have access to various features, including the ability to propose a generative art or data art scene.</p>
        <p class="element">Whether you're an experienced coder or an enthusiastic amateur, don't hesitate to make a request. We will then work together to adapt the code for implementation on the platform.</p>
        {% if (is_granted ('ROLE_ARTIST')) %}
        <div class="element" {{ react_component('MyButtonTwig', {"props": {
            "myStyle":"",
            "to":"/artist/add-new-scene",
            "children" : "Add scene"
          }}) }}>
        </div>
        {% else %}
        <div class="element" {{ react_component('MyButtonTwig', {"props": {
            "myStyle":"",
            "to":"/profile/roleRequest",
            "children" : "Get artist role"
          }}) }}>
        </div>
        {% endif %}
      </div> 
    </div>

  </div>


<script src="{{ asset('js/sketchHome1.js') }}"></script>

{% endblock %}
