{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

  {% for message in app.flashes('success')%}
    <div class="succesFlashMessages">
      {{message}}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning')%}
    <div class="warningFlashMessages">
      {{message|nl2br }}
    </div>
  {% endfor %}
  <div class="homeContainer">
    <div id="sketch1"></div>
    <div class="firstBox ">
      <div class="subBox">
        <h1>Collaborative platform for generative art and creative coding</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum perferendis quidem repudiandae sit sapiente aliquid architecto porro ut odio quam praesentium possimus ex adipisci pariatur nesciunt minus magnam, optio eos.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum perferendis quidem repudiandae sit sapiente aliquid architecto porro ut odio quam praesentium possimus ex adipisci pariatur nesciunt minus magnam, optio eos.</p>
        <div {{ react_component('MyButtonTwig', {"props": {
                  "myStyle":"",
                  "to":"/gallery",
                  "children" : "Let's explore.."
          }}) }}>
        </div>
      </div>
      <div class="slideshowContainer"> 
        <div class="slideshowBorder"></div>
        <div id="slideshow">
          <div class="slide-wrapper">
            <div class="slide"><img class="NexusLabImg" src={{ asset("/images/design/logo/NexusLab-full-purple.png")}} alt="Title NexusLab"></div>
            <div class="slide"><p class="pA1">Experiments new ways of creating art..</p><p class="pA2">through coding and algorithms</p></div>
            <div class="slide"><p class="pB1">Create your own artworks.. </p><p class="pB2">share them with the community</p></div>
          </div>
        </div>
      </div>
      <div class="sliderWrapper">
        <input type="range" min="1" max="40" value="5" step="1" class="slider" id="lineSlider" >
      </div>
    </div>
   
    
    <div class="secondBox">
      <div class="secondBoxCenter">
        <h1 class="element">Create your own artwork</h1>
        <p class="element">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, explicabo voluptates. Iure quo est officiis, earum aspernatur magni dignissimos perspiciatis sunt alias quasi ab repellendus, commodi architecto soluta nobis sapiente!</p>
        <div class="element" {{ react_component('MyButtonTwig', {"props": {
                    "myStyle":"",
                    "to":"/create",
                    "children" : "Start generate art"
            }}) }}>
        </div>
      </div>
    </div>
    <div class="bottomBox">
      <div class="codeImg spinningLight element"></div>
      <div class="bottomSubBox">
        <h1 class="element">Share your code</h1>
        <p class="element">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptatem reprehenderit! Esse deserunt ipsa expedita adipisci odit, labore consequuntur facilis facere reiciendis, eum quam quis nihil, amet numquam voluptates obcaecati.</p>
        {% if (is_granted ('ROLE_ARTIST')) %}
        <div class="element" {{ react_component('MyButtonTwig', {"props": {
            "myStyle":"",
            "to":"/artist/add-new-scene",
            "children" : "Add scene"
          }}) }}>
        </div>
        {% else %}
        <div class="element" {{ react_component('MyButtonTwig', {"props": {
            "myStyle":"",
            "to":"/profile/roleRequest",
            "children" : "Get artist role"
          }}) }}>
        </div>
        {% endif %}
      </div> 
    </div>

  </div>


<script src="{{ asset('js/sketchHome1.js') }}"></script>

{% endblock %}
