{% extends 'base.html.twig' %}

{% block title %}New Scene D1{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dataScene.css') }}">
{% endblock %}

{% block body %}
{# Modale : save artwork  #}
    {# <div class="modaleBackground hidden">
    <div class="superModale hidden">
        <div class="headerModale">
            <h1>Save ArtWork</h1>
            <button class="closeButton">X</button>
        </div>
        <p>Do you want to save this artwork and share it in the Gallery?</p> 
        <button id="sendDataButton" class="customButton generateButton">Save</button>
    </div>
    </div> #}
{# End modale #}

<h1>CO2 WORLDWIDE EMISSIONS</h1>
<div class="mainContainer">
    <div class="descriptionBox"> Description </div>
    <div id="sketch"></div>
    <div class="parametersBox">

        <h2>Control parameters</h2>
        <div class="inputBox">
            <select name="country" class="country" id="country0" >
                <option >{% if scene.country1 %}{{scene.country1}}{% else %}Select a country{% endif %}</option> 
              
            </select>
            <select name="country" class="country" id="country1">
                <option>{% if scene.country2 %}{{scene.country2}}{% else %}Select a country{% endif %}</option>
               
            </select>
            <select name="country" class="country" id="country2">
                <option>{% if scene.country3 %}{{scene.country3}}{% else %}Select a country{% endif %}</option>
              
            </select>
            <select name="country" class="country" id="country3">
                <option>{% if scene.country4 %}{{scene.country4}}{% else %}Select a country{% endif %}</option>
               
            </select>
            <select name="country" class="country" id="country4">
                <option>{% if scene.country5 %}{{scene.country5}}{% else %}Select a country{% endif %}</option>
               
            </select>
            <select name="country" class="country" id="country5">
                <option>{% if scene.country6 %}{{scene.country6}}{% else %}Select a country{% endif %}</option>
             
            </select>
            <select name="country" class="country" id="country6">
                <option>{% if scene.country7 %}{{scene.country7}}{% else %}Select a country{% endif %}</option>
             
            </select>
            <select name="country" class="country" id="country7">
                <option>{% if scene.country8 %}{{scene.country8}}{% else %}Select a country{% endif %}</option>
              
            </select>
            <div class="sliderBox">
                <p>Randomness :</p>
                <div class="range-wrap">
                    <input type="range" class="range" id="randomSlider" min="0.001" max="0.1" value="{{scene.randomness}}" step="0.001">
                    <output class="bubble"></output>
                </div>
            </div>
            <div class="checkboxConatainer">
                <p>Looping :</p>
                <input type="checkbox" id="checkboxLoop" class="checkbox" {% if scene.looping == 1 %}checked{% endif %}>
            </div>
            <div class="checkboxConatainer">
                <p>Abstract Flag Numbers :</p>
                <input type="checkbox" id="checkboxFlag" class="checkbox" {% if scene.abstract == 1 %}checked{% endif %}>
            </div>
            <button id="submitButton" type="submit">Submit</button>
            <button id="reloadButton" type="submit">Reload</button>
            {% if app.user %}
                <button id="sendDataButton" class="customButton generateButton">Save</button>
            {% endif %}
        </div>
    </div>

</div>

<div id="dataScene" data-scene="{{ scene|json_encode }}"></div> 
{% if app.user %}
    <script>
        var userId = {{ app.user.id }};
    </script>
{% endif %}

<script defer src="{{ asset('js/sketchSceneD1.js') }}" >
</script>

{% endblock %}
