<div class="requestContainer">
    <h2 class="subTitle">{{ title }}</h2>
    <div class="requestContent">
        <table class="table dashboardTable">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for request in requests %}
                <tr>
                    <td>{{ request.user.pseudo }}</td>
                    {% if dateField == 'createdAt' %}
                        <td>{{ request.createdAt|date('F j, Y, g:i a') }}</td>
                    {% elseif dateField == 'updatedAt' %}
                        <td>{{ request.updatedAt|date('F j, Y, g:i a') }}</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('admin_show_request', {'id': request.id, 'entity': entity}) }}" class="customButton">Open</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
