{% extends 'base.html.twig' %}

{% block title %}Ask for Artist Role{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/requestForm.css') }}">
{% endblock %}

{% block body %}

  {% for message in app.flashes('warning')%}
    <div class="warningFlashMessages">
      {{message }}
    </div>
  {% endfor %}
    <div class="container">  
      <h1 class="headerUser">Add new Scene</h1>

      <div class="form spinningLight">
        {{ form_start(form) }}
          
          <div class="form-group-top">
            {{ form_widget(form.language, { "attr": {"class" : "form-control" } }) }}
            <div class="cut"></div>
            <label for="language" class="placeholder">Language</label>
          </div>
          <div class="form-group">
            {{ form_widget(form.otherLanguage, { "attr": {"class" : "otherLanguage" } }) }}
            <div class="cut"></div>
          </div>
          <div class="form-group">
            {{ form_widget(form.title, { "attr": {"class" : "form-control" } }) }}
            <div class="cut"></div>
            <label for="title" class="placeholder">Title</label>
          </div>
          <div class="form-group-textArea">
            {{ form_widget(form.description, { "attr": {"class" : "form-control" } }) }}
            <div class="cut"></div>
            <label for="description" class="placeholder">Description</label>        
          </div>
          <div class="form-group">
            {{ form_widget(form.codeFile, { "attr": {"class" : "form-control" } }) }}    
            <div class="cut"></div>
            <label for="codeFile" class="placeholder">Code File</label>         
          </div>
          <div class="imagePreview">
            {{ form_label(form.imageFile)}}
            {{ form_widget(form.imageFile, { "attr": {"class" : "img-control" } }) }}          
          </div>

          <div class="buttonBox">        
            {{ form_label(form.submit) }}
            {{ form_widget(form.submit, { "attr": {"class" : "customButton" } }) }}
            <a href="{{ path('home')}}"  class="customButton">Back</a>
          </div>

        {{ form_end(form) }}
      </div>
    </div>

{% endblock %}
