{% extends 'base.html.twig' %}

{% block title %}Ask for Artist Role{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/requestForm.css') }}">
{% endblock %}

{% block body %}

  <div class="container">  
    <h1 class="headerUser">Ask for Artist Role ?</h1>

    <div class="form spinningLight">
      {{ form_start(form) }}
        {% set form_classes = {'class': 'form-control'} %}
        {% set form_fields = {
        'name': 'Name',
        'firstname': 'Firstname',
        'bio': 'Bio',
        'exemples': 'Exemples',
        'portfolio': 'Portfolio'
      } %}
      {% for field, label in form_fields %}
        <div class="form-group{{ field == 'name' ? '-top' : (field == 'bio' ? '-textArea' : '') }}">
          {{ form_widget(attribute(form, field), {'attr': form_classes}) }}
          <div class="cut"></div>
          <label for="{{ field }}" class="placeholder">{{ label }}</label>
        </div>
      {% endfor %}
        <div class="buttonBox">        
          {{ form_label(form.submit) }}
          {{ form_widget(form.submit, { "attr": {"class" : "customButton" } }) }}
          <a href="{{ path('home')}}"  class="customButton">Back</a>
        </div>

      {{ form_end(form) }}
    </div>
  </div>

{% endblock %}
