{% extends 'base.html.twig' %}

{% block title %}Admin page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
<div class="confirmContainer">
    <h1>Confirm delete user {{user.email}} ?</h1>
    <div><a href="{{path('admin_delete_user', {'id' : user.id}) }}" class="customButton">Delete</a></div>
    <a href="{{ path('admin_users')}}" class="customButton">BACK</a>
</div>
{% endblock %}
