{% extends 'base.html.twig' %}

{% block title %}Demographic Artistry{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dataScene.css') }}">
{% endblock %}

{% block body %}


{# Modale : save artwork  #}

{% include 'partials/_modale_saveArtwork.html.twig' %}

{# End modale #}

{# ---------------------- #}

<div class="headerTitle">
    <img class="titleImg" src={{ asset("/images/design/title3.png")}} alt="Title square">
    <h1>DEMOGRAPHIC ARTISTRY</h1>
</div>

<div class="mainContainer">

{# Left Side #}

    <div class="leftSide">
        <div class="labelBox">
            <a href="{{ path('generativeHome')}}">Data Art</a>
            <img class="LabelImg" src={{ asset("/images/design/square3.png")}} alt="Data Art">
        </div>
        <div class="descriptionBox">
            <div class="card-border">
                <div class="card ">
                    <div class="card-title">
                        Description
                    </div>
                    <img class="arrow1" src={{ asset("/images/design/arrow.png")}} alt="Description arrow">
                    <div class="separator"></div>
                    <div class=" card-content" >
                        <div class="descriptionContent">
                            Data set : The population growth of the USA, China, and India from 1960 to 2024. <br><br>
                            The three initial shapes represent the global population of each country proportionally to the others. <br>
                            Use the parameters to deconstruct these shapes: with some math and a bit of randomness, you can quickly create surprising images! <br>
                            It's up to you to capture the perfect moment in this continuous movement, always animated by the evolving data over time.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="CyberCircleImg" src={{asset("/images/design/circle1.png")}} alt="Cyber-circle">
        <img class="hexaImg" src={{asset("/images/design/hexa.png")}} alt="Cyber-hexagon">
    </div>

{# Sketch #}

    <div id="sketch"></div>

{# Parameters #}

    <div class="parametersBox">
        <div class="card-border">
            <div class="card ">
                <div class="card-title">
                    Control parameters
                </div>
                <div class="separator"></div>
                <div class="card-content" id="card-contentD2">
                    <div class="paramBottom paramBottomD2">
                        <div class="sliderBox sliderBoxD2">

                            {# Parameters sliders #}

                            {% set sliders = [
                                {'label': 'Division factor', 'class': 'divFactorSlider', 'min': 1, 'max': 7, 'step': 1, 'value': 1},
                                {'label': 'Copy', 'class': 'numCopySlider', 'min': 1, 'max': 15, 'step': 1, 'value': 3},
                                {'label': 'Deformation', 'class': 'deformationSlider', 'min': 0, 'max': 50, 'step': 1, 'value': 0},
                                {'label': 'Size factor', 'class': 'sizeFactorSlider', 'min': 0.2, 'max': 5, 'step': 0.1, 'value': 1},
                                {'label': 'Division angle', 'class': 'angleDivSlider', 'min': 2, 'max': 50, 'step': 1, 'value': 20},
                                {'label': 'Opacity', 'class': 'opacitySlider', 'min': 0.01, 'max': 1, 'step': 0.005, 'value': 0.23},
                                {'label': 'Filters', 'class': 'filterSlider', 'min': 0, 'max': 4, 'step': 1, 'value': 0},
                                {'label': 'Division', 'class': 'divSlider', 'min': 1, 'max': 23, 'step': 1, 'value': 6}
                            ] %}
                            
                            {% for slider in sliders %}
                            
                                <p>{{ slider.label }}</p>
                                <div class="range-wrap">
                                    <input class="{{ slider.class }} range" type="range" min="{{ slider.min }}" max="{{ slider.max }}" step="{{ slider.step }}" value="{{ slider.value }}">
                                    <output class="bubble"></output>
                                </div> 
                            {% endfor %}
                        </div>
                        <div class="colorPannel">
                            <p>Color range</p>
                            <div class="range-wrap">
                                <input class="colorRangeSlider range" type="range" min="-180" max="180" step="1" value="0">
                                <output class="bubble"></output>
                            </div>
                            <button style="font-size: 20px; font-weight: 700;" class="colorsButton customButton">COLOR</button>
                            <div class="colorText" >
                                <p style="color: rgb(5, 13, 242);" class="chinaColor">CHINA</p>
                                <p style="color: rgb(255, 217, 0);" class="usaColor">USA</p>
                                <p style="color: rgb(0, 138, 5);" class="indiaColor">INDIA</p>
                            </div>
                        </div>
                        <div class="    ">
                            <div class="checkboxContainer">
                                <p>GLITCH</p>
                                <input type="checkbox" id="glitchCheckbox" class="checkbox">
                            </div>
                            <div class="checkboxContainer">
                                <p>NOISE</p>
                                <input type="checkbox" id="noiseCheckbox" class="checkbox">
                            </div>
                        </div>
                 
                        <div class="buttonBox"> 
                            <button id="reloadButton" type="submit" class="customButton">Reload</button> 
                        </div>
                        {% if app.user %}
                        <div class="separator2"></div>
                        <button class="buttonModale customButton generateButton">Save</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if app.user %}
    <script>
        var userId = {{ app.user.id }};
    </script>
{% endif %}

<script defer src="{{ asset('js/sketchSceneD2.js') }}" ></script>

{% endblock %}
