{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/editUser.css') }}">
{% endblock %}

{% block body %}

{# Profile form #}

    <div class="container">  
      <h1 class="headerUser">Edit Profile</h1>
      <div class="formUser spinningLight">
        {{ form_start(userForm) }}
          
          <div class="form-pseudo">
            {{ form_widget(userForm.pseudo, { "attr": {"class" : "form-control" } }) }}
            <div class="cut"></div>
            <label for="pseudo" class="placeholder">Pseudo</label>
          </div>
          <div class="form-group">
            {{ form_widget(userForm.email, { "attr": {"class" : "form-control" } }) }}
            <div class="cut"></div>
            <label for="email" class="placeholder">Email</label>
          </div>
        {# Display roles field if option is_admin = true in the controller #}
          {% if userForm.roles is defined %} 
            <div class="form-group">
              {{ form_widget(userForm.roles, { "attr": {"class" : "form-control" } }) }}
              <div class="cut"></div>
              <label for="roles" class="placeholder">Roles</label> 
            </div>
          {% endif %}
        
          {% if not is_granted('ROLE_ADMIN') %}
            <div class="psw-group">
              <a href="{{ path('editPassword',  {'id': app.user.id})}}" class="customButton pswButton">Change password</a>
            </div>
          {% endif %}
          <div class="imagePreview">
            {{ form_label(userForm.imageFile) }}
            {{ form_widget(userForm.imageFile, { "attr": {"class" : "img-control" } }) }}
          </div>
          {% if userForm.imageFile.vars.errors|length > 0 %}
            <div class="alert">
                {% for error in userForm.imageFile.vars.errors %}
                    <p>{{ error.message }}</p>
                {% endfor %}
            </div>
          {% endif %}
          <div class="buttonBox">        
            {{ form_label(userForm.Submit) }}
            {{ form_widget(userForm.Submit) }}
            <a href="{{ path('home')}}"  class="customButton">Back</a>
          </div>

        {{ form_end(userForm) }}
      </div>
    </div>

{% endblock %}
