<footer>
    <img class="footerImgLeft" src={{ asset("/images/design/footer2.png") }} alt="footer design left">
    <img class="footerImgRight" src={{ asset("/images/design/footer.png") }} alt="footer design right">
    <div class="topFooter">
        <ul class="ulLeft">
            <li><a href={{ path("gallery") }}>Gallery</a></li>
            <li><a href={{ path("create") }}>Create</a></li>
        </ul>
            <a href={{ path("home") }}><img class="NexusLab" src={{ asset("/images/design/logo/NexusLab-full-purple.png")}} alt="Logo NexusLab"></a>
        <ul class="ulRight">
            <li><a href={{ path("community") }}>Community</a></li>
            <li><a href={{ path("contact") }}>Contact</a></li>
        </ul>
    </div>
    <div class="bottomFooter">
        <a href={{ path("privacyPolicy") }}>© 2024 Privacy — Terms</a>
    </div>
</footer>