<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <a href="{{ path('app_logout') }}" class="text-decoration-none text-black"><button class="button-13">LOG OUT</button></a>
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.pseudo }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
       <div {{ react_component('Navbar') }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
