{% extends 'base.html.twig' %}

{% block title %}Request{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}

<h1 class="dashboardTitle">Request</h1>
<div class="openReqContainer">
    <div class="openReqContent">
        {% if type == 'ArtistRole' %} 
            <h2>Artist role request</h2>
            <div><p>Id : </p>{{request.id}}</div>
            <div><p>Date :  </p>{{request.createdAt|date('F j, Y, g:i a')}}</div>
            <div><p>Pseudo :  </p>{{request.user.pseudo}}</div>
            <div><p>Email :  </p>{{request.user.email}}</div>
            <div><p>Firstname :  </p>{{request.firstname}}</div>
            <div><p>Name :  </p>{{request.name}}</div>
            <div><p>Bio :  </p>{{request.bio}} lore</div>
            <div><p>Exemples :  </p>{{request.exemples}}</div>
            <div><p>Portfolio :  </p>{{request.portfolio}}</div>
            <hr class="hrStyle">
            <div class="deleteButtonBox">
                <a href="{{ path('admin_delete_request', {'id' : request.id, 'entity': "ArtistRole"}) }}" class="customButton adminButton">Delete request</a>   
            </div>
        {% elseif type == 'AddScene' %}
            <h2>New scene request</h2>
            <div><p>Id :  </p>{{request.id}}</div>
            <div><p>Date :  </p>{{request.updatedAt|date('F j, Y, g:i a')}}</div>
            <div><p>Pseudo :  </p>{{request.user.pseudo}}</div>
            <div><p>Email :  </p>{{request.user.email}}</div>
            <div><p>Languages :
                <ul>
                    {% for language in request.language %}
                        <li>{{ language }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div><p>Name :</p>{{request.title}}</div>
            <div><p>Bio :</p>{{request.description}}</div>
            <hr class="hrStyle">
            <div class="sceneImgDiv">
                <img class="sceneImg" src="{{ vich_uploader_asset(request, 'imageFile')}}" alt="Scene picture">
            </div>
            <div class="download">
                <a href="{{ asset('code/' ~ request.codeFile) }}" download>Download Code File</a>
            </div>
            <hr class="hrStyle">
            <div class="deleteButtonBox">
                <a href="{{ path('admin_delete_request', {'id' : request.id, 'entity': "AddScene"}) }}" class="customButton adminButton">Delete request</a>   
            </div>
        {% endif %}
    </div>

 
</div>

{% endblock %}
