{% extends 'base.html.twig' %}

{% block title %}Collective Drawing{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/collectiveDrawing.css') }}">
{% endblock %}

{% block body %}
<script>
    window.currentUser = {
        id: {{ app.user.id|json_encode|raw }},
        username: {{ app.user.pseudo|json_encode|raw }}
    };
    window.roomId = {{ roomId|json_encode|raw }};
</script>

{# Socket.IO et singleton #}
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="{{ asset('js/collective_drawing/socketSingleton.js') }}"></script>

{# Fabric & main module #}
<script src="https://cdn.jsdelivr.net/npm/fabric@latest/dist/index.min.js"></script>
<script defer type="module" src="{{ asset('js/collective_drawing/mainFabricModule.js') }}"></script>

<div class="headerTitle">
    <img class="titleImg" src={{ asset("/images/design/title3.png")}} alt="Style element title square">
    <h1>Collective Drawing</h1>
</div>

<div class="mainContainer">
    <div class="sandbox-container">

        {# Multiplayer panel #}

        <div {{ react_component('MultiplayerPanel', {"props": {"user": app.user}}) }}></div>
         

        {# Canvas #}

        <div class="fabric-container">

            {% if scene %}
                <p class="authorBanner">From the artwork of<span class="pseudo">{{scene.user.pseudo}}</span></p>
                <script>
                    window.existingCanvasState = {{ scene.data|json_encode|raw }};
                </script>
            {% endif %}

            <div class="canvas-parent">
                <canvas id="drawingCanvas"></canvas>
                <canvas id="cursorCanvas"></canvas>
            </div>
            <div class="card-border canvas-bottom-container">
                <div class="card ">
                    <div class="canvas-bottom">
                        <div class="zoom-container">
                            <button id="zoomOutButton" class="customButton">-</button>
                            <span>Zoom</span>
                            <button id="zoomInButton" class="customButton">+</button>
                        </div>
                        <div class="undo-redo-container">
                            <button class="customButton" id="undo" disabled>{{ ux_icon('fa-solid:undo', {width: 16, height: 16, class: 'ux-icons'}) }} Undo</button>
                            <button class="customButton" id="redo" disabled>{{ ux_icon("fa-solid:redo", {width: 16, height: 16, class: 'ux-icons'}) }} Redo</button>  
                        </div>
                        <button id="saveImageButton" class="customButton">{{ ux_icon('fluent:save-16-filled', {width: 20, height: 20, class: 'ux-icons'}) }}Save</button>
                    </div>
                </div>
            </div>
        </div>

    {# Toolbox / Parameters #}

        <!-- Toolbar -->
        <div class="parametersBox">
            <div class="card-border">
                <div class="card ">
                    <h2 class="card-title">
                        ToolBox
                    </h2>
                    <div class="separator"></div>
                    <div class="card-content" id="card-contentD2">
                        <div class="tool-section-frame selection-tools">
                            <button class="tool-btn customButton" id="selectButton">{{ ux_icon('tabler:pointer-filled', {width: 16, height: 16, class: 'ux-icons'}) }} Select</button>
                            <button class="customButton disabled-btn" id="deleteButton" disabled>{{ ux_icon('icomoon-free:cross', {width: 13, height: 13, class: 'ux-icons'}) }} Delete</button>
                        </div>
                        <div class="tool-section-frame">
                            <div class="brush-btn-box">
                                <div class="btn-top-box">
                                    <button class="tool-btn customButton" id="brushButton">{{ ux_icon('fa-solid:paint-brush', {width: 16, height: 16, class: 'ux-icons'}) }} Brush</button>
                                    <input type="color" id="brushColorPicker"  value="#ffffff">                        
                                    <div class="inputBox">
                                        <select id="brushStyle">
                                            <option value="solid">Solid</option>
                                            <option value="dotted">Dotted</option>
                                            <option value="dashed">Dashed</option>
                                            <option value="glow">Glow</option>  
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="sliderBox">
                                <div class="range-wrap">
                                    <input type="range" class="range" id="brushSizeSlider"  min="1" max="20" value="5" step="1">
                                    <output class="bubble"></output>
                                </div>
                            </div>
                        </div>
                        {# <div class="eraser-btn-box">
                            <button class="tool-btn" id="eraserButton">🧽 Eraser</button>
                            <input type="range" class="range-slider" id="eraserSlider" min="1" max="30" value="10" step="1">
                        </div> #}
                        <div class="tool-section-frame text-icon-container">
                            <div class="text-btn-box">
                                <div class="text-input-container">
                                    <span class="input">
                                        <input type="text" id="textInput" placeholder="Your text"/>
                                        <span></span>	
                                    </span>
                                </div>
                                <div class="txt-bottom-box">
                                    <input type="color" id="textColorPicker"  value="#00fff7">
                                    <button class="text-btn customButton" id="textButton">Add Text</button>
                                </div>
                            </div>
                            {{ ux_icon('icon-park-solid:text', {width: 94, height: 94, class: 'ux-icons txt-icon'}) }} 
                        </div>
                        <div class="tool-section-frame img-icon-container">
                            <div class="img-btn-box">
                                <input type="file" id="imageInput" class="custom-file-input" accept="image/*">
                                <button class="img-btn customButton" id="imageButton">Add Image</button>
                            </div>
                            {{ ux_icon('fa:picture-o', {width: 90, height: 96, class: 'ux-icons img-icon'}) }} 
                        </div>
                        <div class="tool-section-frame shapes-icon-container">
                            <div class="shapes-btn-container">
                                <div class="shapes-btn-box">
                                    <button class="toolbar-btn customButton" id="rectangleButton">   {{ ux_icon('ic:baseline-square', {width: 16, height: 16, class: 'ux-icons'}) }} Rectangle</button>
                                    <button class="toolbar-btn customButton" id="circleButton">{{ ux_icon('ic:baseline-circle', {width: 16, height: 16, class: 'ux-icons'}) }} Circle</button>
                                    <button class="toolbar-btn customButton" id="triangleButton">{{ ux_icon('ion:triangle-sharp', {width: 16, height: 16, class: 'ux-icons'}) }}Triangle</button>
                                    <button class="toolbar-btn customButton" id="lineButton">{{ ux_icon('uil:line-alt', {width: 16, height: 16, class: 'ux-icons'}) }} Line</button>
                                </div>
                                <input type="color" id="shapesColorPicker" value="#00fff7">
                            </div>
                            {{ ux_icon('famicons:shapes', {width: 98, height: 98, class: 'ux-icons img-icon'}) }} 
                        </div>
                        <div class="tool-section-frame">
                            <div class="background-btn-box">
                                <span>Background</span>
                                <input type="color" id="backgroundColorPicker">
                                <div>
                                    <div class="checkboxContainer">
                                        <p>Alpha</p>
                                        <input type="checkbox" id="alphaCheckbox" class="checkbox">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class=" customButton" id="clearCanvasButton">{{ ux_icon('icomoon-free:bin', {width: 15, height: 15, class: 'ux-icons'}) }} Clear All</button>
                    </div>
                </div>
            </div>
        </div>        
    </div>
<div>

{% endblock %}
