{% extends 'base.html.twig' %}

{% block title %}Edit Password{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/editUser.css') }}">
{% endblock %}

{% block body %}

{# Password edit form #}
   {% for message in app.flashes('warning')%}
      <div class="warningFlashMessages">
        {{message}}
      </div>      
    {% endfor %}
    <div class="container">     
      <h1 class="headerUser">Edit Password</h1>

      <div class="formUser spinningLight">
        {{ form_start(form) }}
          
          <div class="change-psw-group">
            {{ form_widget(form.plainPassword) }}
          </div>
          <div class="form-group-newPsw">
            {{ form_label(form.newPassword) }}
            {{ form_widget(form.newPassword, { "attr": {"class" : "form-control" } }) }}
          </div>
          <div class="buttonBoxPsw">        
            {{ form_label(form.Submit) }}
            {{ form_widget(form.Submit) }}
            <a href="{{ path('profile', {'id': userId}) }}" class="customButton">Back</a>
          </div>

        {{ form_end(form) }}
      </div>
    </div>

{% endblock %}



