{% extends 'base.html.twig' %}

{% block title %}Edit Password{% endblock %}

{% block body %}

{# Password edit form #}
   {% for message in app.flashes('warning')%}
      <div class="warningFlashMessages">
        {{message}}
      </div>      
    {% endfor %}
    <div class="container">
          {# {% if (is_granted('ROLE_ARTIST')) %}
          {% endif %} #}
     
      <h1 class="headerUser">Edit Password</h1>

      <div class="formUser">
        {{ form_start(form) }}
          
          <div class="form-group">
             <div class="form-group">
            {{ form_widget(form.plainPassword, { "attr": {"class" : "form-control" } }) }}
          </div>
     
          <div class="buttonBox">        
            {{ form_label(form.Submit) }}
            {{ form_widget(form.Submit) }}
            <a href="{{ path('home')}}"> <button  class="customButton">Back</button></a>
          </div>

        {{ form_end(form) }}
      </div>
    </div>

{% endblock %}



