{% extends 'base.html.twig' %}

{% block title %}Edit Artwork{% endblock %}

{% block body %}

    <h1>Edit Artwork informations</h1>
    <img src="{{ vich_uploader_asset(artwork, 'imageFile')}}" alt="artwork_picture">
    <div class="formUser">
        {{ form_start(form) }}
          <div class="form-group">
            {{ form_label(form.title)}}
            {{ form_widget(form.title, { "attr": {"class" : "form-control" } }) }}
          </div>
          <div class="form-group">
            {{ form_label(form.comment)}}
            {{ form_widget(form.comment, { "attr": {"class" : "form-control" } }) }}
          </div>
           <div class="buttonBox">        
            {{ form_label(form.submit) }}
            {{ form_widget(form.submit) }}
            <a href="{{ path('home')}}"  class="customButton">Back</a>
          </div> 

        {{ form_end(form) }}
      </div>
    </div>

{% endblock %}
