{% extends 'base.html.twig' %}

{% block title %}My Artworks{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/myArtworks.css') }}">
{% endblock %}

{% block body %}

{# Modale : Delete artwork  #}
    <div class="modaleBackground hidden">
    <div class="superModale hidden">
        <div class="headerModale">
            <h1>Delete ArtWork</h1>
            <button class="closeButton">X</button>
        </div>
        <div class="modaleContent">
        </div>
    </div>
    </div>
{# End modale #}

<h1 >MY ARTWORKS</h1>

<div class="tableContainer">
    <h2>Generative Art</h2>

	<table class="table">
		<thead>
			<tr>
			    <th scope="col">Picture</th>
                <th scope="col">Title</th>
                <th scope="col">Comment</th>
                <th scope="col">Likes</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
			</tr>
		</thead>
        <tbody>
        {% for artwork in artworks.scene1 %}
            {% if (is_granted('ROLE_USER') and artwork.user == app.user)%}
            <tr>
                <td><img class="artworkImg" src="{{ vich_uploader_asset(artwork, 'imageFile')}}" alt="artwork_picture"></td>
                <td>{{artwork.title}}</td>
                <td class="commentTable">{{artwork.comment}}</td>
                <td class="likeTable">{{artwork.likes|length}}</td>
                <td class="dateTable">{{artwork.updatedAt|date('F j, Y, g:i a')}}</td>
                <td>
                    <a href="{{ path('editArtwork', {'id': artwork.id, 'entity': 'Scene1'})}}" class="customButton">Update</a>
                    <button 
                        class="buttonModaleG1 customButton generateButton"
                        data-delete-url="{{ path('deleteArtwork', {'id': artwork.id , 'entity': "Scene1"}) }}">
                        Delete
                    </button>
                </td> 
            </tr> 
            {% endif %}
        {% endfor %} 
        </tbody>
	</table>

    <h2>Data Art</h2>

	<table class="table">
		<thead>
			<tr>
			    <th scope="col">Picture</th>
                <th scope="col">Title</th>
                <th scope="col">Comment</th>
                <th scope="col">Likes</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
			</tr>
		</thead>
        <tbody>
        {% for artwork in artworks.sceneD1 %}
            {% if (is_granted('ROLE_USER') and artwork.user == app.user)%}
            <tr>
                <td><img class="artworkImg" src="{{ vich_uploader_asset(artwork, 'imageFile')}}" alt="artwork_picture"></td>
                <td>{{artwork.title}}</td>
                <td class="commentTable">{{artwork.comment}}</td>
                <td class="likeTable">{{artwork.likes|length}}</td>
                <td class="dateTable">{{artwork.updatedAt|date('F j, Y, g:i a')}}</td>
                <td>
                    <a href="{{ path('editArtwork', {'id': artwork.id, 'entity': 'SceneD1'})}}" class="customButton">Update</a>
                    <button 
                        class="buttonModaleD1 customButton generateButton"
                        data-delete-url="{{ path('deleteArtwork', {'id': artwork.id , 'entity': "SceneD1"}) }}">
                        Delete
                    </button> 
                </td> 
            </tr> 
            {% endif %}
        {% endfor %} 
        </tbody>
	</table>
</div>


<script defer src="{{ asset('js/modaleDeleteArtwork.js') }}" ></script>

{% endblock %}
